/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Background color */
  }
  
  .signup-container {
    height: 100vh; /* Full viewport height */
    background-color: #0d304b; /* Background color */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-card {
    background-color: white; /* Card background */
    padding: 40px; /* Increase padding for larger form size */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    width: 500px; /* Increase form width */
  }
  
  .signup-heading {
    font-size: 28px; /* Increase heading size */
    margin-bottom: 20px;
  }
  
  .signup-input {
    width: 100%; /* Full width input */
    padding: 10px; /* Increase padding for better usability */
    margin-bottom: 20px; /* Increase spacing between inputs */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background for inputs */
  }
  
  .signup-button {
    width: 100%; /* Full width button */
    padding: 10px; /* Increase padding for better usability */
    background-color: #275b92; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3; /* Darker button color on hover */
  }
  
  .signup-error {
    color: red; /* Error text color */
    margin-bottom: 20px;
  }
  
  .signup-footer {
    margin-top: 20px; /* Add spacing after form */
  }
  
  .signup-link {
    background-color: #275b92; /* Link color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding for better usability */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
  }
  
  .signup-link:hover {
    background-color: #0056b3; /* Darker link color on hover */
  }
  
  /* Text under Sign Up */
  .signup-text {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .signup-card {
      width: 80%; /* Adjust width for smaller screens */
    }
  }
  